canvas {
  border: 1px solid white;
}

body {
  text-align: center;
  background: #3cb371;
  font-family: 'sans-serif';
  color: white;
}

.btn {
  background: white;
  color: #3cb371;
  font-size: 1.5;
  font-weight: bold;
  margin: 20%;
  cursor: pointer;
  padding: 10px;
}
.image {
  margin-top: 20%;
  width: 30%;
}

.ng-cloak {
  display: none;
}